.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .recruitment-form {
  position: absolute;
  top: 411px;
  left: 826px;
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .templates-CV-builder {
  position: absolute;
  top: 411px;
  left: 332px;
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  top: 204px;
  left: 224px;
  width: 997px;
  height: 175px;
}

.desktop .image {
  left: 0;
  width: 434px;
  height: 175px;
  aspect-ratio: 2.48;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .img {
  left: 559px;
  width: 434px;
  height: 175px;
  aspect-ratio: 2.48;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .text-wrapper {
  top: 38px;
  left: 633px;
  width: 294px;
  position: absolute;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  top: 37px;
  left: 85px;
  width: 273px;
  position: absolute;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse-wrapper {
  position: absolute;
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  position: absolute;
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  position: absolute;
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 56px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  position: absolute;
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  position: absolute;
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  position: absolute;
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  position: absolute;
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  display: flex;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-7 {
  position: absolute;
  top: 389px;
  left: -57px;
  width: 157px;
  height: 164px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 78.5px / 82px;
  border: 4px solid;
  border-color: #437eff;
  transform: rotate(180deg);
}

.desktop .ellipse-8 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #58a0b4e0;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-8 {
  position: absolute;
  top: 273px;
  left: -88px;
  width: 157px;
  height: 164px;
  display: flex;
  background-color: #40b0cf;
  border-radius: 78.5px / 82px;
  border: 4px solid;
  border-color: #437eff;
  transform: rotate(180deg);
}

.desktop .ellipse-9 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #75b6c9;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-9 {
  position: absolute;
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 77px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-10 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .image-2 {
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 427px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 739px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 1047px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
/* Inject original CSS code here */

.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .recruitment-form {
  position: absolute;
  top: 411px;
  left: 826px;
  height: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .recruitment-form a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.desktop .recruitment-form a:hover {
  text-decoration: underline;
}

.desktop .recruitment-form a:focus {
  outline: 2px solid #437eff;
  outline-offset: 4px;
}

.desktop .templates-CV-builder {
  position: absolute;
  top: 411px;
  left: 332px;
  height: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .templates-CV-builder a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.desktop .templates-CV-builder a:hover {
  text-decoration: underline;
}

.desktop .templates-CV-builder a:focus {
  outline: 2px solid #437eff;
  outline-offset: 4px;
}

.desktop .group {
  position: absolute;
  top: 204px;
  left: 224px;
  width: 997px;
  height: 175px;
}

.desktop .student-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 434px;
  height: 175px;
}

.desktop .recruiter-card {
  position: absolute;
  left: 559px;
  top: 0;
  width: 434px;
  height: 175px;
}

.desktop .image {
  left: 0;
  width: 434px;
  height: 175px;
  aspect-ratio: 2.48;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .img {
  left: 0;
  width: 434px;
  height: 175px;
  aspect-ratio: 2.48;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .text-wrapper {
  top: 38px;
  left: 74px;
  width: 294px;
  position: absolute;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  top: 37px;
  left: 85px;
  width: 273px;
  position: absolute;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse-wrapper {
  position: absolute;
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  position: absolute;
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  position: absolute;
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 56px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  position: absolute;
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  position: absolute;
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  position: absolute;
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  position: absolute;
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  display: flex;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-7 {
  position: absolute;
  top: 389px;
  left: -57px;
  width: 157px;
  height: 164px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 78.5px / 82px;
  border: 4px solid;
  border-color: #437eff;
  transform: rotate(180deg);
}

.desktop .ellipse-8 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #58a0b4e0;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-8 {
  position: absolute;
  top: 273px;
  left: -88px;
  width: 157px;
  height: 164px;
  display: flex;
  background-color: #40b0cf;
  border-radius: 78.5px / 82px;
  border: 4px solid;
  border-color: #437eff;
  transform: rotate(180deg);
}

.desktop .ellipse-9 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #75b6c9;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-9 {
  position: absolute;
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 77px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-10 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .image-2 {
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 427px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.desktop .text-wrapper-2:hover {
  text-decoration: underline;
}

.desktop .text-wrapper-2:focus {
  outline: 2px solid #437eff;
  outline-offset: 4px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 739px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.desktop .text-wrapper-3:hover {
  text-decoration: underline;
}

.desktop .text-wrapper-3:focus {
  outline: 2px solid #437eff;
  outline-offset: 4px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 1047px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.desktop .text-wrapper-4:hover {
  text-decoration: underline;
}

.desktop .text-wrapper-4:focus {
  outline: 2px solid #437eff;
  outline-offset: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.desktop .student-services {
  position: absolute;
  top: 411px;
  left: 332px;
}

.desktop .recruiter-services {
  position: absolute;
  top: 411px;
  left: 826px;
}

.desktop .decorative-circles {
  pointer-events: none;
}
